:root {
  --accent: #F24E1E;
  --text-secondary: #232830;
  --placeholder: rgba(238, 238, 238, 0.6);
  --text-primary:#EEEEEE;
  --success: #18993C;
  --accent-hover: #CC3A0F;
  --error-bg:rgba(204, 58, 15, 0.1);
  --bg-secondary: #323843;
  --bg-primary: #D9D9D9;
  --average-light: #B0B0B0;
  --average-dark: #7B7B7B;
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile-breakpoint: 375px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1280px;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-primary);
}
@media screen and (min-width: var(--tablet-breakpoint)) {
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
  padding-left: 0px;
}

.is-hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  min-width: var(--mobile-breakpoint);
  width: 100%;
}
@media screen and (min-width: var(--mobile-breakpoint)) {
  .container {
    width: var(--mobile-breakpoint);
  }
}
@media screen and (min-width: var(--tablet-breakpoint)) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: var(--tablet-breakpoint);
  }
}
@media screen and (min-width: var(--desktop-breakpoint)) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
    width: var(--desktop-breakpoint);
  }
}

.title {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.22;
  text-transform: uppercase;
}
@media screen and (min-width: var(--tablet-breakpoint)) {
  .title {
    font-size: 44px;
    line-height: 1.23;
  }
}

button {
  padding: 12px 0;
  width: 100%;
  font-size: 24px;
  font-family: "Impact", sans-serif;
  letter-spacing: 0.06em;
  line-height: 1.21;
  border: 1px solid var(--accent);
  color: var(--text-secondary);
  background-color: var(--accent);
  transition: all var(--transition-time) var(--transition-function);
}
@media screen and (min-width: var(--tablet-breakpoint)) {
  button {
    width: auto;
    padding: 12px 32px;
  }
}
@media screen and (min-width: var(--desktop-breakpoint)) {
  button {
    font-size: 28px;
  }
}
button:hover, button:focus {
  cursor: pointer;
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
}

.hero {
  padding-top: 280px;
  padding-bottom: 60px;
  background-color: var(--text-secondary);
  background-image: url(../images/hero-bg-img-mob.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
@media screen and (min-width: var(--tablet-breakpoint)) {
  .hero {
    padding-top: 320px;
    padding-bottom: 117px;
  }
}
@media screen and (min-width: var(--desktop-breakpoint)) {
  .hero {
    padding-bottom: 200px;
  }
}

.hero__title {
  font-size: 20px;
  margin-bottom: 16px;
}
@media screen and (min-width: var(--tablet-breakpoint)) {
  .hero__title {
    font-size: 32px;
  }
}
@media screen and (min-width: var(--desktop-breakpoint)) {
  .hero__title {
    font-size: 44px;
  }
}

.hero__descr {
  margin-bottom: 149px;
  width: 172px;
}
@media screen and (min-width: var(--tablet-breakpoint)) {
  .hero__descr {
    margin-bottom: 32px;
    width: 336px;
  }
}
@media screen and (min-width: var(--desktop-breakpoint)) {
  .hero__descr {
    width: 384px;
  }
}

.hero__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: var(--tablet-breakpoint)) {
  .hero__btn {
    display: inline;
  }
}/*# sourceMappingURL=main.css.map */