.socials {
    display: flex;

    &__item:not(:last-child) {
        margin-right: 21.33px;
    }

    &__link {
        transition: color var(--transition-time) var(--transition-function);

        &:hover, &:focus-visible {
            color: var(--accent);
        }
    }


    & svg {
        fill: currentColor;
    }
}