body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    // font-variant: small-caps;
    color: var(--text-primary);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.is-hidden {
    display: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 24px;
    padding-right: 24px;
    min-width: var(--mobile-breakpoint);

    @include mobile {
        width: var(--mobile-breakpoint);
    }

    @include tablet {
        padding-left: 32px;
        padding-right: 32px;
        width: var(--tablet-breakpoint);
    }

    @include desktop {
        padding-left: 80px;
        padding-right: 80px;
        width: var(--desktop-breakpoint);;
    }
}

.title {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: normal;
    text-transform: uppercase;

    @include tablet {
        font-size: 44px;
    }

    &::before {
        content: '';
        display: inline-block;
        margin-right: 16px;
        border-top: 3px solid var(--accent);
        width: 40px;
        position: relative;
        top: -0.4em;
        left: 0;

        @include tablet {
            width: 64px;
            margin-right: 32px;
        }
    }
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    font-size: 24px;
    font-family: "Impact", sans-serif;
    line-height: normal;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a {
    color: inherit;
}

.link {
    text-decoration: none;
    transition: color var(--transition-time) var(--transition-function);

    &:hover,
    &:focus {
        cursor: pointer;
        color: var(--accent);
    }
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
    min-width: var(--mobile-breakpoint);

    @include desktop {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

br {
    display: block;
    content: '';
    margin-bottom: 4px;

    @include tablet {
        margin-bottom: 8px;
    }
}

.slider__wrap {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 0px;
    height: 0px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
