:root {
    --text-primary: #EEEEEE;
    --text-secondary: #232830;
    --accent: #F24E1E;
    --accent-hover: #EC4210;
    --bg-primary: #D9D9D9;
    --bg-secondary: #323843;
    --grey: #7B7B7B;
    --grey-disabled: #B0B0B0;
    --white: #FFFFFF;
    --black: #000000;

    --transition-time: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);

    --mobile-breakpoint: 375px;
    --tablet-breakpoint: 768px;
    --desktop-breakpoint: 1280px;
}