.advantages {
    background-color: var(--bg-primary);
    color: var(--text-secondary);

    @include desktop {
        background-image: url('../images/svg/advantages-bg.svg');
        background-repeat: no-repeat;
        background-position: top 12px right;
    }

    & .title {
        margin-bottom: 16px;
    }

    &__descr {
        @include tablet {
            width: 520px;
        }

        @include desktop {
            width: 388px;
        }
    }

    &__info {
        margin-bottom: 56px;

        @include desktop {
            display: flex;
            align-items: center;
            gap: 64px;
            margin-bottom: 64px;
        }
    }
}

.advantages__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    width: 256px;

    @include tablet {
        width: auto;
        flex-direction: row;
        gap: 76px;
    }

    @include desktop {
        gap: 80px;
    }
}

.advantages__item { 
    padding-top: 8px;
    border-top: 3px solid var(--accent);

    @include tablet {
        flex-basis: calc((704px - 76px * 2) / 3);
    }

    @include desktop {
        flex-basis: calc((928px - 80px * 2) / 3);
    }

    &:not(:last-child) {
        margin-bottom: 40px;

        @include tablet {
            margin-bottom: 0;
        }
    }

    &-title {
        font-family: Impact;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    
        &::before {
            content: "";
            display: block;
            width: 0.3em;
            height: 0.3em;
            border-radius: 50%;
            background-color: var(--text-secondary);
            margin-right: 14px;
            margin-left: 14px;
        }
    }

    &-descr {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &-number {
        color: var(--accent);
        font-family: Impact;
        font-size: 44px;
        line-height: normal;
        text-transform: uppercase;
    }
}