.services {
    background-color: var(--text-secondary);

    & .title {
        margin-bottom: 18px;
        
        @include tablet {
            margin-bottom: 8px;
        }
    }

    &__descr {
        font-size: 14px;
        padding-left: 56px;
        margin-bottom: 56px;

        @include tablet {
            font-size: 16px;
            padding-left: 96px;
            width: 352px;
        }

        @include desktop {
            margin-bottom: 80px;
        }
    }

    &__icon-wrap {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: var(--text-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 56px;
    }
}
.price {
    &__wrap {
        background-color: var(--bg-secondary);
        padding: 48px 24px;

        @include tablet {
            padding-right: 32px;
            padding-left: 32px;
        }

        @include tablet {
            padding-right: 22px;
            padding-left: 22px;
        }
    }

    &__title {
        font-family: Impact;
        font-size: 22px;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 5px; 
        display: flex;
        justify-content: space-between;
        gap: 8px;
    }

    &__cost {
        font-size: 20px;
        color: var(--accent);

        .dash {
            font-size: 24px;
            margin-right: 8px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 48px;
        }
    }
}


.services {
    &__item {
        &:not(:last-child) {
            margin-bottom: 40px;
        }

        @include tablet{
            flex-basis: calc((100% - 32px) / 2);
        }

        @include desktop {
            flex-basis: calc((100% - 32px * 2) / 3);
        }
    }

    &__list {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -10px;
            right: -10px;
            width: 68px;
            height: 68px;
            background-image: url(../images/svg/dots.svg);

            @include tablet {
                top: -22px;
                right: -22px;
            }

            @include desktop {
                top: -34px;
                right: -34px;
            }
        }

        @include tablet {
            display: flex;
            column-gap: 32px;
            row-gap: 40px;
            flex-wrap: wrap;

            &::after {
                content: '';
                display: block;
                width: 336px;
                height: 495px;
                background-image: url(../images/services/services-tab.webp);
                background-repeat: no-repeat;
                background-size: cover;

                @include retina {
                    background-image: url(../images/services/services-tab@2x.webp);
                }
            }
        }

        @include desktop {
            &::after {
                display: none
            }
        }
    }
}

